<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="app.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".dxview" mimeType="text/html" />
    </staticContent>
  </system.webServer>
</configuration>